m4/
Makefile
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/*.o
src/*.la
src/*.lo
src/.deps
src/.libs
src/Makefile
src/Makefile.in
src/config.h
src/config.h.in
src/config.h.in~
src/stamp-h1
